
section.wishlist_area
    .container
        form(action='#')
            .wishlist.table_desc
                .cart_page
                    table
                        thead
                            tr
                                th.product_remove Delete
                                th.product_thumb Image
                                th.product_name Product
                                th.product_price Price
                                th.product_quantity Stock Status
                                th.product_total Add to Cart
                        tbody
                            tr
                                td.product_remove
                                    a(href='#') X
                                td.product_thumb
                                    a(href='#')
                                        img(src='./images/s-product/product.jpg' alt='')
                                td.product_name
                                    a(href='#') Handbag
                                td.product_price $65.00
                                td.product_quantity in stock
                                td.product_total
                                    a(href='#') Add to Cart

                            tr
                                td.product_remove
                                    a(href='#') X
                                td.product_thumb
                                    a(href='#')
                                        img(src='./images/s-product/product2.jpg' alt='')
                                td.product_name
                                    a(href='#') Handbag
                                td.product_price $65.00
                                td.product_quantity in stock
                                td.product_total
                                    a(href='#') Add to Cart
                            tr
                                td.product_remove
                                    a(href='#') X
                                td.product_thumb
                                    a(href='#')
                                        img(src='./images/s-product/product.jpg' alt='')
                                td.product_name
                                    a(href='#') Handbag
                                td.product_price $65.00
                                td.product_quantity in stock
                                td.product_total
                                    a(href='#') Add to Cart
