
section.product_details
    .container
        .product_details_tab
            .zoom_wrapper.single_zoom
                a(href='#')
                    img(src='./images/product/productbig2.jpg' alt='')
            .single_zoom_thumb
                ul
                    li
                        a(href='#')
                            img(src='./images/product/productbig3.jpg' alt='')
                    li
                        a(href='#')
                            img(src='./images/product/productbig4.jpg' alt='')
                    li
                        a(href='#')
                            img(src='./images/product/productbig5.jpg' alt='')
                    li
                        a(href='#')
                            img(src='./images/product/productbig6.jpg' alt='')

        .product_details_options
            form(action='#')
                h1 Nonstick Dishwasher
                .product_nav
                    ul
                        li.prev
                            a(href='#')
                                i.fa.fa-angle-left
                        li.next
                            a(href='#')
                                i.fa.fa-angle-right
                .product_ratting
                    ul
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li
                            a(href='#')
                                i.fa.fa-star
                        li.review
                            a(href='#') (customer review)

                .price_box
                    span.current_price $70.00
                    span.old_price $80.00

                .product_desc
                    p   eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus
                      | eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non
                      | neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et
                      | placerat vestibulum, metus nisi posuere nisl, in

                .product_variant.color
                    h3 Available Options
                    label color
                    ul
                        li.color1
                            a(href='#')
                        li.color2
                            a(href='#')
                        li.color3
                            a(href='#')
                        li.color4
                            a(href='#')

                .product_variant.quantity
                    label quantity
                    input(min='1' max='100' value='1' type='number')
                    button.button(type='submit') add to cart

                .product_action
                    ul
                        li
                            a(href='#' title='add to wishlist') + Add to Wishlist
                        li
                            a(href='#' title='add to wishlist') + Compare
                .product_meta
                    span Category:
                        a(href='#') Clothing

            .priduct_social
                ul
                    li
                        a.facebook(href='#' title='facebook')
                            i.fa.fa-facebook
                    li
                        a.twitter(href='#' title='twitter')
                            i.fa.fa-twitter
                    li
                        a.pinterest(href='#' title='pinterest')
                            i.fa.fa-pinterest
                    li
                        a.google-plus(href='#' title='google_plus')
                            i.fa.fa-google-plus

section.product_info
    .container
        .product_info_button
            ul.nav
                li
                    a.active(href='#info') Description
                li
                    a(href='#sheet') Specification
                li
                    a(href='#reviews') Reviews (1)

        .tab_content
            .tab_pane.fade.show.active
                .product_info_content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec
                      | est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare
                      | lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus
                      | eu, suscipit id nulla.
                    p Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis
                      | fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa
                      | massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit
                      | est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur
                      | adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere
                      | nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et,
                      | luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget.

            .tab_pane.fade
                .product_info_content
                   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec
                      | est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare
                      | lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus
                      | eu, suscipit id nulla.

            .tab_pane.fade
                .reviews_wrapper
                    h2 1 reviews for furniture
                    .reviews_comment_box
                        .comment_thumb
                            img(src='./images/blog/comment2.jpg' alt='')
                        .comment_text
                            .reviews_meta
                                .star_rating
                                    ul
                                        li
                                            a(href='#')
                                                i.ion-ios-star
                                        li
                                            a(href='#')
                                                i.ion-ios-star
                                        li
                                            a(href='#')
                                                i.ion-ios-star
                                        li
                                            a(href='#')
                                                i.ion-ios-star
                                        li
                                            a(href='#')
                                                i.ion-ios-star
                                p admin september 22, 2020
                                span roadthemes
                    .comment_title
                        h2 Add a review
                        p Your email address will not be published. Required fields are marked
                    .product_ratting
                        h3 Your rating
                        ul
                            li
                                a(href='#')
                                    i.fa.fa-star
                            li
                                a(href='#')
                                    i.fa.fa-star
                            li
                                a(href='#')
                                    i.fa.fa-star
                            li
                                a(href='#')
                                    i.fa.fa-star
                            li
                                a(href='#')
                                    i.fa.fa-star
                    .product_review_form
                        form(action='#')
                            .review_comment
                                label(for='review_comment') Your review
                                textarea(name='comment' id='review_comment')
                            .review_author
                                label(for='author') Name
                                input(id='author' type='text')
                            .review_email
                                label(for='email') Email
                                input(id='email' type='text')
                            button(type='submit') Submit
