include mixins

header.header
    .header_top
        .container
            .logo
                a(href='index.html')
                    img(src='./images/logo/logo.png' alt='logo')
            .main-menu
                .menu-items
                    nav
                        ul
                            li
                                a(href='index.html') Home
                            li
                                a(href='#') Shop
                            li
                                a(href='#') Pages
                            li
                                a(href='#') Contact Us
                            li
                                a(href='#') Settings
                .phone-support
                    .support_icon
                        img(src='./images/icon/icon_phone.png' alt='phone')
                    .support_text
                        p
                            span Customer Support
                            a(href='tel:+71234567890') +712345678

    .header_middle
        .container
            .categories_menu
                .categories_title
                    h2 All Categories
            .search_container
                form
                    .search_box
                        input(type='text' placeholder='Search entire store here...')
                        button(type='submit')
            .cart_wishlist
                .wishlist_btn
                    a(href='#')
                        i.icon-heart
                    span.wishlist_quantity 3
                .mini_cart
                    a(href='#')
                        span.icon-cart $67.00
                    span.cart_quantity 2

    .header_bottom
        .container
            nav.main_nav
                ul(id='main_menu')
                    li
                        a(href='#') Stroy materialy
                        +sub_nav('item 1', 'item 2', 'item 3', 'item 4')
                    li
                        a(href='#') Otdelochny materialy
                        +sub_nav('item 5', 'item 6', 'item 7', 'item 8')
                    li
                        a(href='#') Instruments
                        +sub_nav('item 9', 'item 10', 'item 11', 'item 12')
                    li
                        a(href='#') Electro Instruments
                        +sub_nav('item 13', 'item 14', 'item 15', 'item 16')
                    li
                        a(href='#') Santehnika
                        +sub_nav('item 17', 'item 18', 'item 19', 'item 20')
                    li
                        a(href='#') Electrica
                        +sub_nav('item 21', 'item 22', 'item 23', 'item 24')
