include ../../common/mixins

section.brand_list
    .container.owl-5.owl-carousel
        +brand_item('./images/brand/brand1.jpg')
        +brand_item('./images/brand/brand2.jpg')
        +brand_item('./images/brand/brand3.jpg')
        +brand_item('./images/brand/brand4.jpg')
        +brand_item('./images/brand/brand5.jpg')
        +brand_item('./images/brand/brand1.jpg')