include ../../common/mixins

section.product_area
    .container
        .section_title
            h2 Hot deals
        .product_container.owl-5.owl-carousel
            +product_area_item('./images/product/product1.jpg', './images/product/product2.jpg')
            +product_area_item('./images/product/product3.jpg', './images/product/product4.jpg')
            +product_area_item('./images/product/product5.jpg', './images/product/product6.jpg')
            +product_area_item('./images/product/product7.jpg', './images/product/product8.jpg')
            +product_area_item('./images/product/product9.jpg', './images/product/product10.jpg')
            +product_area_item('./images/product/product11.jpg', './images/product/product12.jpg')

