include ../../common/mixins

section.shipping_area
    .container
        +shipping_area_item('fas fa-truck', 'Free shipping on order')
        +shipping_area_item('fas fa-phone', 'Contact us 24 hrs a day')
        +shipping_area_item('far fa-paper-plane', 'You have 30 days to return')
        +shipping_area_item('fas fa-credit-card', '100% secure payment')