block footer

footer
    .footer_top
        .container
            .footer_contact_us
                .footer_logo
                    a(href='index.html')
                        img(src='../images/logo/logo.png' alt='logo')
                .footer_contact
                    p.
                        We are a team of designers and
                        developers that create high quality Magento, Prestashop, Opencart...
                    .support
                        .support_icon
                            img(src='../images/icon/hotline.png' alt='hotline')
                        .support_text
                            p
                                span Customer Support
                                a(href='tel:+71231231234') +7(123)1231234
                .footer_subscribe
                    h3 Subscribe newsletter to get update
                    .subscribe_form
                        form
                            input(type='email' placeholder='Enter your email')
                            button(type='submit') Subscribe
                        p We’ll never share your email address with a third-party.
                        .footer_social
                            ul
                                li
                                    a.facebook(href='#')
                                        i.fab.fa-facebook
                                li
                                    a.twitter(href='#')
                                        i.fab.fa-twitter
                                li
                                    a.youtube(href='#')
                                        i.fab.fa-youtube
                                li
                                    a.google(href='#')
                                        i.fab.fa-google-plus-g
                                li
                                    a.instagram(href='#')
                                        i.fab.fa-instagram

                .footer_menu
                    h3 Information
                    .menu
                        ul
                            li
                                a(href='#') Delivery
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Contact Us
                            li
                                a(href='#') Stores
                        ul
                            li
                                a(href='#') Legal Notice
                            li
                                a(href='#') Payment
                            li
                                a(href='#') Sitemap
                            li
                                a(href='#') My account
    .footer_bottom
        .container
            .copyright_area
                p Copyright &copy; 2021
                    a(href='#') StroyRoom
                    | All Right Reserved
            .footer_payment
                a(href='#')
                    img(src='../images/icon/payment.png' alt='payment')


