
header.header
    .header_top
        .container
            .welcome
                p Welcome to out store
            nav
                ul
                    li
                        a(href='#') Compare (0)
                    li
                        a(href='#') Settings
    .header_middle
        .container
            .logo
                a(href='index.html')
                    img(src='./images/logo/logo.png' alt='logo')
            .main-menu
                .menu-items
                    nav
                        ul
                            li
                                a(href='index.html') Home
                            li
                                a(href='#') Shop
                            li
                                a(href='#') Pages
                            li
                                a(href='#') About us
                            li
                                a(href='#') Contact us
                .phone-support
                    .support_icon
                        img(src='./images/icon/icon_phone.png' alt='phone')
                    .support_text
                        p
                            span Customer Support
                            a(href='tel:+71234567890') +712345678
    .header_bottom
        .container
            .categories_menu
                .categories_title
                    h2 All Categories
            .search_container
                form
                    .search_box
                        input(type='text' placeholder='Search entire store here...')
                        button(type='submit')
            .cart_wishlist
                .wishlist_btn
                    a(href='#')
                        i.icon-heart
                    span.wishlist_quantity 3
                .mini_cart
                    a(href='#')
                        span.icon-cart $67.00
                    span.cart_quantity 2
