
head
    meta(charset="utf-8")
    title #{title}
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel="stylesheet" href="css/main.min.css")
    link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet" href="css/owl.carousel.min.css")
    link(rel="stylesheet" href="css/owl.theme.default.min.css")
    link(rel="stylesheet" href="css/sm-core-css.css")
    link(rel="stylesheet" href="css/sm-simple.css")
