{% load static %}

 <section class="brand_list">
      <div class="container owl-5 owl-carousel">
            <div class="brand_item"><a href="#"><img src="{% static 'main/images/brand/brand1.jpg' %}" alt="brand"></a></div>
            <div class="brand_item"><a href="#"><img src="{% static 'main/images/brand/brand2.jpg' %}" alt="brand"></a></div>
            <div class="brand_item"><a href="#"><img src="{% static 'main/images/brand/brand3.jpg' %}" alt="brand"></a></div>
            <div class="brand_item"><a href="#"><img src="{% static 'main/images/brand/brand4.jpg' %}" alt="brand"></a></div>
            <div class="brand_item"><a href="#"><img src="{% static 'main/images/brand/brand5.jpg' %}" alt="brand"></a></div>
            <div class="brand_item"><a href="#"><img src="{% static 'main/images/brand/brand1.jpg' %}" alt="brand"></a></div>
      </div>
    </section>