{% load static %}

<section class="categories_product_area">
      <div class="container">
        <div class="section_title">
          <h2>Popular Categories</h2>
        </div>
        <div class="product_container owl-3 owl-carousel">
              <div class="product_item">
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="#">
                          <img src="{% static 'main/images/featured/featured.jpg' %}" alt="">
                      </a>
                  </div>
                  <div class="product_content">
                    <h4>Tops & Sets</h4>
                    <ul>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                    </ul><a href="#">Show all</a>
                  </div>
                </div>
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="#">
                          <img src="{% static 'main/images/featured/featured1.jpg' %}" alt="">
                      </a>
                  </div>
                  <div class="product_content">
                    <h4>Tops & Sets</h4>
                    <ul>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                    </ul><a href="#">Show all</a>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="#">
                          <img src="{% static 'main/images/featured/featured7.jpg' %}" alt="">
                      </a>
                  </div>
                  <div class="product_content">
                    <h4>Tops & Sets</h4>
                    <ul>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                    </ul><a href="#">Show all</a>
                  </div>
                </div>
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="#">
                          <img src="{% static 'main/images/featured/featured3.jpg' %}" alt="">
                      </a>
                  </div>
                  <div class="product_content">
                    <h4>Tops & Sets</h4>
                    <ul>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                    </ul><a href="#">Show all</a>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="#">
                          <img src="{% static 'main/images/featured/featured5.jpg' %}" alt="">
                      </a>
                  </div>
                  <div class="product_content">
                    <h4>Tops & Sets</h4>
                    <ul>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                    </ul><a href="#">Show all</a>
                  </div>
                </div>
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="#">
                          <img src="{% static 'main/images/featured/featured6.jpg' %}" alt="">
                      </a>
                  </div>
                  <div class="product_content">
                    <h4>Tops & Sets</h4>
                    <ul>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                    </ul><a href="#">Show all</a>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="#">
                          <img src="{% static 'main/images/featured/featured4.jpg' %}" alt="">
                      </a>
                  </div>
                  <div class="product_content">
                    <h4>Tops & Sets</h4>
                    <ul>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                    </ul><a href="#">Show all</a>
                  </div>
                </div>
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="#">
                          <img src="{% static 'main/images/featured/featured7.jpg' %}" alt="">
                      </a>
                  </div>
                  <div class="product_content">
                    <h4>Tops & Sets</h4>
                    <ul>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                      <li><a href="#">tank tops</a></li>
                    </ul><a href="#">Show all</a>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>