{% load static %}

 <section class="featured_product_area">
      <div class="container">
        <div class="section_title">
          <h2>Featured products</h2>
        </div>
        <div class="product_container owl-3 owl-carousel">
              <div class="product_item">
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="product-details.html">
                          <img src="{% static 'main/images/product/product1.jpg'%}" alt="product">
                      </a>
                  </div>
                  <div class="product_content">
                    <p class="manufacture_product"><a href="#">Brand</a></p>
                    <h4><a href="product-details.html">Model</a></h4>
                    <div class="price_box">
                        <span class="old_price">$3.00</span>
                        <span class="current_price">$2.00</span>
                    </div>
                  </div>
                </div>
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="product-details.html">
                          <img src="{% static 'main/images/product/product2.jpg' %}" alt="product">
                      </a>
                  </div>
                  <div class="product_content">
                    <p class="manufacture_product"><a href="#">Brand</a></p>
                    <h4><a href="product-details.html">Model</a></h4>
                    <div class="price_box">
                        <span class="old_price">$3.00</span>
                        <span class="current_price">$2.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="product-details.html">
                          <img src="{% static 'main/images/product/product3.jpg' %}" alt="product">
                      </a>
                  </div>
                  <div class="product_content">
                    <p class="manufacture_product"><a href="#">Brand</a></p>
                    <h4><a href="product-details.html">Model</a></h4>
                    <div class="price_box">
                        <span class="old_price">$3.00</span>
                        <span class="current_price">$2.00</span>
                    </div>
                  </div>
                </div>
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="product-details.html">
                          <img src="{% static 'main/images/product/product4.jpg' %}" alt="product">
                      </a>
                  </div>
                  <div class="product_content">
                    <p class="manufacture_product"><a href="#">Brand</a></p>
                    <h4><a href="product-details.html">Model</a></h4>
                    <div class="price_box">
                        <span class="old_price">$3.00</span>
                        <span class="current_price">$2.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="product-details.html">
                          <img src="{% static 'main/images/product/product5.jpg' %}" alt="product">
                      </a>
                  </div>
                  <div class="product_content">
                    <p class="manufacture_product"><a href="#">Brand</a></p>
                    <h4><a href="product-details.html">Model</a></h4>
                    <div class="price_box">
                        <span class="old_price">$3.00</span>
                        <span class="current_price">$2.00</span>
                    </div>
                  </div>
                </div>
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="product-details.html">
                          <img src="{% static 'main/images/product/product6.jpg' %}" alt="product">
                      </a>
                  </div>
                  <div class="product_content">
                    <p class="manufacture_product"><a href="#">Brand</a></p>
                    <h4><a href="product-details.html">Model</a></h4>
                    <div class="price_box">
                        <span class="old_price">$3.00</span>
                        <span class="current_price">$2.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="product-details.html">
                          <img src="{% static 'main/images/product/product7.jpg' %}" alt="product">
                      </a>
                  </div>
                  <div class="product_content">
                    <p class="manufacture_product"><a href="#">Brand</a></p>
                    <h4><a href="product-details.html">Model</a></h4>
                    <div class="price_box">
                        <span class="old_price">$3.00</span>
                        <span class="current_price">$2.00</span>
                    </div>
                  </div>
                </div>
                <div class="single_product">
                  <div class="product_thumb">
                      <a class="primary_img" href="product-details.html">
                          <img src="{% static 'main/images/product/product8.jpg' %}" alt="product">
                      </a>
                  </div>
                  <div class="product_content">
                    <p class="manufacture_product"><a href="#">Brand</a></p>
                    <h4><a href="product-details.html">Model</a></h4>
                    <div class="price_box">
                        <span class="old_price">$3.00</span>
                        <span class="current_price">$2.00</span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
</section>