{% load static %}

    <footer>
      <div class="footer_top">
        <div class="container">
          <div class="footer_contact_us">
            <div class="footer_logo"><a href="{% url 'main:index' %}"><img src="{% static 'main/images/logo/logo.png' %}" alt="logo"></a></div>
            <div class="footer_contact">
              <p>
                We are a team of designers and
                developers that create high quality Magento, Prestashop, Opencart...
              </p>
              <div class="support">
                <div class="support_icon"><img src="{% static 'main/images/icon/hotline.png' %}" alt="hotline"></div>
                <div class="support_text">
                  <p><span>Customer Support</span><a href="tel:+71231231234">+7(123)1231234</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer_subscribe">
            <h3>Subscribe newsletter to get update</h3>
            <div class="subscribe_form">
              <form>
                <input type="email" placeholder="Enter your email">
                <button type="submit">Subscribe</button>
              </form>
            </div>
            <p>We’ll never share your email address with a third-party.</p>
            <div class="footer_social">
              <ul>
                <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="footer_menu">
            <h3>Information</h3>
            <div class="menu">
              <ul>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Stores</a></li>
              </ul>
              <ul>
                <li><a href="#">Legal Notice</a></li>
                <li><a href="#">Payment</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">My account</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="container">
          <div class="copyright_area">
            <p>Copyright &copy; 2021<a href="#">StroyRoom</a>All Right Reserved</p>
          </div>
          <div class="footer_payment"><a href="#"><img src="{% static 'main/images/icon/payment.png' %}" alt="payment"></a></div>
        </div>
      </div>
    </footer>