{% load static %}

<section class="product_area">
      <div class="container">
        <div class="section_title">
          <h2>Hot deals</h2>
        </div>
        <div class="product_container owl-5 owl-carousel">
              <div class="product_item">
                <div class="product_thumb">
                    <a class="primary_img" href="#">
                        <img src="{% static 'main/images/product/product1.jpg' %}" alt="">
                    </a>
                    <a class="secondary_img" href="#">
                        <img src="{% static 'main/images/product/product2.jpg' %}" alt="">
                    </a>
                  <div class="product_label"><span class="label_sale">-8%</span></div>
                  <div class="action_links">
                    <ul>
                      <li class="wishlist"><a href="wishlist.html" title="add to wishlist">
                          <ion-icon name="heart-outline"></ion-icon></a></li>
                      <li class="compare"><a href="compare.html" title="compare">
                          <ion-icon name="repeat-outline"></ion-icon></a></li>
                    </ul>
                  </div>
                  <div class="add_to_cart"><a href="cart.html" title="add to cart">Add to cart</a></div>
                </div>
                <div class="product_content">
                  <p class="manufacture_content"><a href="#">Product name</a></p>
                  <h4><a href="product-details.html">Product details</a></h4>
                  <div class="price_box">
                      <span class="old_price">$10.00</span>
                      <span class="current_price">$9.00</span>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="product_thumb">
                    <a class="primary_img" href="#">
                        <img src="{% static 'main/images/product/product3.jpg' %}" alt="">
                    </a>
                    <a class="secondary_img" href="#">
                        <img src="{% static 'main/images/product/product4.jpg' %}" alt="">
                    </a>
                  <div class="product_label"><span class="label_sale">-8%</span></div>
                  <div class="action_links">
                    <ul>
                      <li class="wishlist"><a href="wishlist.html" title="add to wishlist">
                          <ion-icon name="heart-outline"></ion-icon></a></li>
                      <li class="compare"><a href="compare.html" title="compare">
                          <ion-icon name="repeat-outline"></ion-icon></a></li>
                    </ul>
                  </div>
                  <div class="add_to_cart"><a href="cart.html" title="add to cart">Add to cart</a></div>
                </div>
                <div class="product_content">
                  <p class="manufacture_content"><a href="#">Product name</a></p>
                  <h4><a href="product-details.html">Product details</a></h4>
                  <div class="price_box">
                      <span class="old_price">$10.00</span>
                      <span class="current_price">$9.00</span>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="product_thumb">
                    <a class="primary_img" href="#">
                        <img src="{% static 'main/images/product/product5.jpg' %}" alt="">
                    </a>
                    <a class="secondary_img" href="#">
                        <img src="{% static 'main/images/product/product6.jpg' %}" alt="">
                    </a>
                  <div class="product_label"><span class="label_sale">-8%</span></div>
                  <div class="action_links">
                    <ul>
                      <li class="wishlist"><a href="wishlist.html" title="add to wishlist">
                          <ion-icon name="heart-outline"></ion-icon></a></li>
                      <li class="compare"><a href="compare.html" title="compare">
                          <ion-icon name="repeat-outline"></ion-icon></a></li>
                    </ul>
                  </div>
                  <div class="add_to_cart"><a href="cart.html" title="add to cart">Add to cart</a></div>
                </div>
                <div class="product_content">
                  <p class="manufacture_content"><a href="#">Product name</a></p>
                  <h4><a href="product-details.html">Product details</a></h4>
                  <div class="price_box">
                      <span class="old_price">$10.00</span>
                      <span class="current_price">$9.00</span>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="product_thumb">
                    <a class="primary_img" href="#">
                        <img src="{% static 'main/images/product/product7.jpg' %}" alt="">
                    </a>
                    <a class="secondary_img" href="#">
                        <img src="{% static 'main/images/product/product8.jpg' %}" alt="">
                    </a>
                  <div class="product_label"><span class="label_sale">-8%</span></div>
                  <div class="action_links">
                    <ul>
                      <li class="wishlist"><a href="wishlist.html" title="add to wishlist">
                          <ion-icon name="heart-outline"></ion-icon></a></li>
                      <li class="compare"><a href="compare.html" title="compare">
                          <ion-icon name="repeat-outline"></ion-icon></a></li>
                    </ul>
                  </div>
                  <div class="add_to_cart"><a href="cart.html" title="add to cart">Add to cart</a></div>
                </div>
                <div class="product_content">
                  <p class="manufacture_content"><a href="#">Product name</a></p>
                  <h4><a href="product-details.html">Product details</a></h4>
                  <div class="price_box">
                      <span class="old_price">$10.00</span>
                      <span class="current_price">$9.00</span>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="product_thumb">
                    <a class="primary_img" href="#">
                        <img src="{% static 'main/images/product/product9.jpg' %}" alt="">
                    </a>
                    <a class="secondary_img" href="#">
                        <img src="{% static 'main/images/product/product10.jpg' %}" alt="">
                    </a>
                  <div class="product_label"><span class="label_sale">-8%</span></div>
                  <div class="action_links">
                    <ul>
                      <li class="wishlist"><a href="wishlist.html" title="add to wishlist">
                          <ion-icon name="heart-outline"></ion-icon></a></li>
                      <li class="compare"><a href="compare.html" title="compare">
                          <ion-icon name="repeat-outline"></ion-icon></a></li>
                    </ul>
                  </div>
                  <div class="add_to_cart"><a href="cart.html" title="add to cart">Add to cart</a></div>
                </div>
                <div class="product_content">
                  <p class="manufacture_content"><a href="#">Product name</a></p>
                  <h4><a href="product-details.html">Product details</a></h4>
                  <div class="price_box">
                      <span class="old_price">$10.00</span>
                      <span class="current_price">$9.00</span>
                  </div>
                </div>
              </div>
              <div class="product_item">
                <div class="product_thumb">
                    <a class="primary_img" href="#">
                        <img src="{% static 'main/images/product/product11.jpg' %}" alt="">
                    </a>
                    <a class="secondary_img" href="#">
                        <img src="{% static 'main/images/product/product12.jpg' %}" alt="">
                    </a>
                  <div class="product_label"><span class="label_sale">-8%</span></div>
                  <div class="action_links">
                    <ul>
                      <li class="wishlist"><a href="wishlist.html" title="add to wishlist">
                          <ion-icon name="heart-outline"></ion-icon></a></li>
                      <li class="compare"><a href="compare.html" title="compare">
                          <ion-icon name="repeat-outline"></ion-icon></a></li>
                    </ul>
                  </div>
                  <div class="add_to_cart"><a href="cart.html" title="add to cart">Add to cart</a></div>
                </div>
                <div class="product_content">
                  <p class="manufacture_content"><a href="#">Product name</a></p>
                  <h4><a href="product-details.html">Product details</a></h4>
                  <div class="price_box">
                      <span class="old_price">$10.00</span>
                      <span class="current_price">$9.00</span>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>