@import "../helpers/variables";

.banner_area .container {
  margin-bottom: 60px;
  justify-content: space-between;
  @media #{$large-mobile} {
    margin-bottom: 29px;
    flex-flow: column;
  }
  & .single_banner {
    @media #{$large-mobile} {
      margin-bottom: 30px;
    }
    padding: 0 15px 0 15px;
    & .banner_item {
      position: relative;
      overflow: hidden;
      @media #{$large-mobile} {
        text-align: center;
      }
      & a {
        & img {
          transition: .3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      &:hover {
        & img {
          transform: scale(1.1) rotate(0.05deg);
        }
      }
    }
  }
}