include ../../common/mixins

section.categories_product_area
    .container
        .section_title
            h2 Popular Categories
        .product_container
            +categories_product_item('../images/featured/featured.jpg', '../images/featured/featured1')
            +categories_product_item('../images/featured/featured7.jpg', '../images/featured/featured3')
            +categories_product_item('../images/featured/featured5.jpg', '../images/featured/featured6')
            +categories_product_item('../images/featured/featured4.jpg', '../images/featured/featured7')
