
section.error_section
    .container
        .error_form
            h1 404
            h2 Page not be found
            p Sorry, but the page you are looking for does not exist
                form(action="#")
                    input(placeholder="Search" type="text")
                    button(type="submit")
                        i.ion-ios-search-strong
                a(href="index.html") Back  to home page